.container {
  @apply h-full w-full relative;
}

.front, .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  @apply transition-all duration-700 rounded-4xl;
}

.front {
  transform: perspective(600px) rotateY(0deg);
  @apply shadow-xl;
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.container:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
  -webkit-transform: perspective(600px) rotateY(-180deg);
}

.container:hover > .back {
  transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
}